h1 {
    color: #67ba47;
    Font: Arial
}

body {
    background-color: #363636;
 align-items: center;
    Margin: auto;
        font-family: 'Poppins', sans-serif;
}
p {
    color: white
}

h6 {
    color: white
}

h2 {
    color: white
}

h4 {
   color: white
}

a {
    font-size: large;
}
button {
    color: white;
    background-color:#67ba47;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: bold;
    border-radius: 30px;
    padding: 15px;
    height: 30px;
    outline: none; 
}
h3 {
    color: white
}
