h1 {
    color: #67ba47;
    Font: Arial
}

body {
    background-color: #363636;
 align-items: center;
}
p {
    color: white
}

h6 {
    color: white
}

h2 {
    color: white
}

h4 {
   color: white
}

a {
    font-size: large;
}
button {
    color: white;
    background-color:#67ba47;
}
h3 {
    color: white
}
